.Top-menu {
    background-color: #494d5f;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
    border: none;
}

.Heart-logo-div {
    padding-left: 1vh;
    height: 55px;
    border: none;
    padding-right: 1vh;
}

.Heart-logo {
    height: 100%;
    pointer-events: none;
}

.Name {
    background-color: #494d5f;
    color: white;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 30px;
    border: none;
    padding: 1vh;
}

.Name:hover {
    background-color: #343241;
    color: white;
}