.Top-menu {
    background-color: var(--background-color1);
    --menu-height: 60px;
    height: var(--menu-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
    border: none;
}

.Dropdown {
    height: var(--menu-height);
}

.Links {
    padding-left: 1vh;
    height: var(--menu-height);
    border: none;
    padding-right: 1vh;
    background-color: var(--background-color1);
}

.Links:hover {
    background-color: var(--button-hover-color);
}

.Heart-logo {
    height: 100%;
    pointer-events: none;
}

.Name {
    background-color: var(--background-color1);
    color: white;
    height: var(--menu-height);
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
}

.Name:hover {
    background-color: var(--button-hover-color);
    color: white;
}